<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container p-4">
      <h1>Dojo Message Board</h1>
        <% if(messages.create_message) { %>
           <% for (let m of messages.create_message) { %>
            <h3 class="small" style="color: red;"><%= m %></h3>
           <% } %>
       <% } %>
        <form action="/messages" method="POST" class="mb-5">

          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control col-md-7" id="name" name="name" placeholder="Your name">
          </div>

          <div class="form-group">
            <label for="content">Message:</label>
            <textarea class="form-control col-md-10" id="content" name="content"></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <ul class="list-group col-md-6 list-group-flush">
          <% for (let m of all_msgs) { %>
            <li class="list-group-item">Name: <%= m.name %></li>
            <li class="list-group-item">Message: <%= m.content %></li>


            <% for (let c of m.comments) { %>
              <ul class="list-group col-md-6 list-group-flush ml-5">
                <li class="list-group-item"><small>Name: <%= c.name %></small></li>
                <li class="list-group-item"><small>Comment: <%= c.content %></small></li>
              </ul>
            <% } %>

            <% if(messages.create_comment) { %>
               <% for (let m of messages.create_comment) { %>
                <h3 class="small" style="color: red;"><%= m %></h3>
               <% } %>
           <% } %>
            <form action="/comments/<%= m._id %>" method="POST" class="ml-5 mb-5">

              <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control col-md-7" id="name" name="name" placeholder="Your name">
              </div>

              <div class="form-group">
                <label for="content">Comment:</label>
                <textarea class="form-control col-md-10" id="content" name="content"></textarea>
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>

          <% } %>
        </ul>

      </div>
  </body>
</html>
