<!DOCTYPE html>
<html lang="en">
    <head>
        <title>dog Dashboard</title>
     </head>
    <body>
        <div>
            <h2>Edit a dog here!</h2>   
            <h3>Name: <%= dogs.name %></h3>
            <h3>Description: <%= dogs.description %></h3>
            <h3>Created At: <%= dogs.createdAt %></h3> 
             <% if(typeof(errors) != 'undefined' ) { %>
                <% for (var x in errors) { %>
                <h3><%= errors[x].message %></h3>
                <% } %>
            <% } %>

            <form action="/dogs/<%= dogs._id %>" method='post'>
                <label for='name'>Edit Name: </label>
                <input name='name' id='name' type='text' value="<%= dogs.name %>">
                <label for='description'>Edit Description: </label>
                <textarea name='description' id='description'><%= dogs.description %></textarea>
                <input type='submit' value='Edit this dog!'>
            </form>
            <a href='/'>back</a>
        </div>
    </body>
</html>